project_id = "lxntezfwiyufmphlkdug"

[api]
enabled = true
port = 54321
max_rows = 1000

[db]
port = 54322
major_version = 15

[db.pooler]
enabled = true
port = 54329
pool_mode = "transaction"
default_pool_size = 20
max_client_conn = 100

[studio]
enabled = true
port = 54323
api_url = "http://127.0.0.1"

[auth]
enabled = true
site_url = "http://127.0.0.1:3000"

[functions.generate-resume]
verify_jwt = true

[functions.generate-pdf]
verify_jwt = true
